.cybermonday2023-selections{
	background-image: url("../img/selections-shadow.png") ,url("../img/selections-bg.png");
	background-position: top center;
	background-size: cover;
	background-repeat: repeat-y;
	padding-top: 38px;
	padding-bottom: 69px;
	position: relative;
	&__header{
		position: relative;
		max-width: 1086px;
		padding: 0 20px;
		margin: 0 auto 73px;
		p{
			font-weight: 400;
			font-size: 24px;
			line-height: 150%;
			background: linear-gradient(90.33deg, #00F0FF 0.08%, #FA00FF 97.33%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
			margin: 0 0 13px;
		}
		a{
			font-weight: 400;
			font-size: 20px;
			line-height: 150%;
			text-transform: uppercase;
			text-decoration: none;
			background: linear-gradient(180deg, #00F0FF 0%, #FA00FF 100%);
			-webkit-background-clip: text;
			-webkit-text-fill-color: transparent;
			background-clip: text;
			text-fill-color: transparent;
			text-shadow: 0 0 4px #713FFF, 0px 4px 4px rgba(0, 0, 0, 0.25);
			position: relative;
			display: block;
			width: fit-content;
			&:after{
				content: '';
				position: absolute;
				bottom: 0;
				left: 0;
				right: 0;
				width: 100%;
				height: 2px;
				background: linear-gradient(90.01deg, #7000FF 0%, #C071FF 100%);
				filter: blur(1px);
			}
		}
	}
	&__body{
		max-width: 1086px;
		padding: 0 20px 40px;
		margin: 0 auto;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		gap: 105px 60px;
		position: relative;
	}
	&__item{
		flex: 1 0 calc(25% - 60px);
		max-width: calc(25% - 60px);
		text-decoration: none;
		text-align: center;
		position: relative;
		display: block;
		transition: all .3s ease;
		&:before{
			display: block;
			content: "";
			padding-top: 100%;
		}
		&:after{
			content: '';
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			background: linear-gradient(95.02deg, #2F45F4 14.79%, #FF0099 90.76%);
			opacity: 0.5;
			filter: blur(73.5px);
			width: 100%;
			height: 100%;
			z-index: 0;
			pointer-events: none;
		}
		&:hover{
			transition: all .3s ease;
			&:after{
				opacity: 0.8;
				transition: all .3s ease;
			}
			.cybermonday2023-selections__figure{
				transition: all .3s ease;
				transform: scale(1.1);
			}
		}
	}
	&__figure{
		margin: 0 auto;
		display: flex;
		align-items: center;
		justify-content: center;
		padding: 20px;
		position: absolute;
		top: 0;
		bottom: 0;
		left: 0;
		width: 100%;
		height: 100%;
		border: 0;
		transition: all .3s ease;
		&:before{
			content: '';
			top: 0;
			left: 0;
			position: absolute;
			border: 3px solid #00F0FF;
			filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.8));
			border-radius: 20px;
			width: calc(100% - 6px);
			height: calc(100% - 6px);
		}
		&:after{
			content: '';
			top: 0;
			left: 0;
			position: absolute;
			border: 3px solid #875CFF;
			filter: blur(3.5px);
			border-radius: 20px;
			width: calc(100% - 6px);
			height: calc(100% - 6px);
		}
		img{
			display: block;
			max-width: 100%;
			height: auto;
			object-fit: contain;
		}
	}
	&__name{
		font-weight: 700;
		font-size: 16px;
		line-height: 100%;
		text-align: center;
		letter-spacing: 0.105em;
		text-transform: uppercase;
		color: #00F0FF;
		padding: 20px 0 0;
		position: absolute;
		top: 100%;
		left: 0;
		right: 0;
	}
	@include r(1023){
		&__body{
			gap: 85px 40px;
		}
		&__item{
			flex: 1 0 calc(25% - 40px);
			max-width: calc(25% - 40px);
		}
		&__figure{
			padding: 30px;
		}
	}
	@include r(767){
		padding-top: 17px;
		background-position: center bottom;
		background-size: cover;
		-webkit-box-shadow: inset 0px 200px 156px 123px rgba(3,3,6,1);
		-moz-box-shadow: inset 0px 200px 156px 123px rgba(3,3,6,1);
		box-shadow: inset 0px 200px 156px 123px rgba(3,3,6,1);
		&__header{
			margin-bottom: 96px;
			p{
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
				margin: 0 0 24px;
			}
			a{
				font-weight: 400;
				font-size: 16px;
				line-height: 150%;
			}
		}
		&__body{
			gap: 69px 20px;
		}
		&__item{
			flex: 1 0 calc(50% - 10px);
			max-width: calc(50% - 10px);
		}
		&__figure{
			padding: 30px;
		}
		&__name{
			font-size: 14px;
			padding: 17px 0 0;
		}
	}
}