.cybermonday2023-hero{
	background-image:  url("../img/hero-shadow.png"), url("../img/selections-bg.png");
	background-size: cover;
	background-position: center bottom;
	background-repeat: repeat-y;
	&__body{
		max-width: 1410px;
		margin: 0 auto;
		padding-top: 14px;
	}
	&__cyber{
		position: relative;
		img{
			max-width: 100%;
			width: 100%;
			height: auto;
			margin: 0 auto;
		}
	}
	@include r(767){
		background-size: auto;
		&__body{
			padding-top: 0;
		}
	}
}